.env
data/
output/
*.zip
*.exe
__pycache__
*.pyc
.python-version
.env
*.sqlite3
db/*
static/*
!static/refractory
refractory_data/*
foundry_releases/*
foundry_releases_zip/*
instance_data/*
node_modules