<script type="text/javascript">
    function redirect()
    {
        alert("redirect!")
    }
</script>
<div class="form-group">
    <select style="display:none;" name="userid"></select>
    <input style="display:none;" type="password" name="password" placeholder="" value="" autocomplete="off">
    <button style="display:none;" type="button" name="join" class="bright">
    <footer class="form-footer">
        <button class="bright" id="refractroy-login" onclick="redirect()">
            <i class="fas fa-check"></i>
            <label>Log in with Refractory</label>
        </button>
    </footer>
</div>