{% extends "_foundry_portal_base.html" %}
{% load static %}

{% block content %}
<!-- Active Worlds Section -->
<section class="panel" id="active-worlds">
    <h2>Active Worlds</h2>
    <div class="worlds-gallery" id="worlds-gallery">
        {% for instance in instances %}
            {% for world in instance.worlds %}
                <div class="world-card">
                    <h3>{{world.title}}</h3>
                    <p>Hosted on {{instance.display_name}}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</section>

<!-- Instance Status Section -->
<section class="panel" id="instance-status">
    <h2>Instances</h2>
    <div class="status-key">
        <div class="status-container"><span class="status-indicator active"></span>Active</div>
        <div class="status-container"><span class="status-indicator online"></span>Online</div>
        <div class="status-container"><span class="status-indicator offline"></span>Offline</div>
    </div>
    <div class="instance-list" id="instance-list">
        {% for instance in instances %}
            <div class="instance-card" name="{{ instance.instance_name }}">
                <div class="instance-info-container" name="{{ instance.instance_name }}">
                    <h3>{{ instance.display_name }}</h3>
                    <p>{{ instance.is_active }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}