{% load static %}

<form class="application standard-form framed" autocomplete="off">
    <div class="form-group" style="--maxWidth: 1040px">
        <select style="display:none;" name="userid"></select>
        <input style="display:none;" type="password" name="password" placeholder="" value="" autocomplete="off">
        <button style="display:none;" type="button" name="join" class="bright">
        <footer class="form-footer">
            <button class="bright" id="refractroy-login" onclick="window.location.href='/manage/{{slug}}/vtt_login/';event.preventDefault();">
                <img style="height:20px;margin:5px;border:0;vertical-align:middle" src="{% static 'refractory/img/Refractory20Mono.png' %}">
                <label>Log in with Refractory</label>
            </button>
        </footer>
    </div>
</form>
