{% extends '_manage_base.html' %}
{% load i18n %}

{% block title %}Confirm License Deletion{% endblock %}

{% block content %}
<section class="panel thin-panel" id="login-panel">
    <div class="login-panel">
        <h2>Confirm License Deletion</h2>
        <p>Are you sure you want to delete the license '{{ object.license_name }}'?</p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.auto_id }}" class="form-field-label">{{ field.label }}</label>
                {% if field.help_text %}<div class="tooltip"><b>[?]</b><span class="tooltiptext">{{ field.help_text }}</span></div>{% endif %}
                <div class="mt-2">
                    {{ field }}
                </div>
                {% if field.errors %}
                    <small>{{ field.errors }}</small> 
                {% endif %}
            {% endfor %}
            <input type="submit" value="{{submit_text}}">
        </form>
        <form action="{% url 'license_update' object.id %}" method="get">
            <button type="submit">{% translate "Back" %}</button>
        </form>
    </div>
</section>
{% endblock %}