{% extends '_foundry_portal_base.html' %}
{% load i18n %}

{% block title %}Create User Group{% endblock %}

{% block content %}
<section class="panel thin-panel" id="login-panel">
    <div class="login-panel">
        <h2>Create User Group</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{{submit_text}}">
        </form>
        <form action="{% url 'group_list' %}" method="get">
            <button type="submit">{% translate "Back" %}</button>
        </form>
    </div>
</section>
{% endblock %}