{% extends "_foundry_portal_base.html" %}
{% load static %}

{% block title %}Select a User{% endblock %}

{% block content %}
<!-- Active Worlds Section -->
<section class="panel main-panel" id="active-worlds">
    <h2>Select A User</h2>
    <div>
        {% for user in users %}
            <div>
                <button type="button" onclick="location.href='{% url 'instance_admin_login' instance.instance_slug forloop.counter0 %}';"><p>{{user.user_name}}</p></button>
            </div>
        {% endfor %}
    </div>
    {% if user.is_staff %}
        {% if not users %}
            <div>
                <button type="button" onclick="location.href='{% url 'instance_admin_login' instance.instance_slug  %}';"><p>Return to Setup</p></button>
            </div>
        {% endif %}
    {% endif %}
</section>
{% endblock %}
