{% extends "_foundry_portal_base.html" %}
{% load static %}

{% block title %}Select a User{% endblock %}

{% block content %}
<!-- Active Worlds Section -->
<section class="panel main-panel" id="active-worlds">
    <h2>Select A User</h2>
    <div>
        {% for user in users %}
            <form action="{% url 'vtt_login' instance.instance_slug forloop.counter0 %}" method="post">
                {% csrf_token %}
                <button type="submit"><p>{{user.user_name}}</p></button>
            </form>
        {% endfor %}
    </div>
    {% if user.is_staff %}
        <form action="{% url 'instance_admin_login' instance.instance_slug %}" method="post">
            {% csrf_token %}
            <button type="submit"><p>Return to Setup</p></button>
        </form>
        <form action="{% url 'managed_admin_login' instance.instance_slug %}" method="post">
            {% csrf_token %}
            <button type="submit"><p>Login as Managed GM</p></button>
        </form>
    {% endif %}
</section>
{% endblock %}
