{% extends "_foundry_portal_base.html" %}
{% load static %}
{% load instance_permissions %}

{% block title %}Select a User{% endblock %}

{% block content %}
<!-- Active Worlds Section -->
<section class="panel main-panel" id="active-worlds">
    <h2>Select A User</h2>
    <div>
        {% for user in users %}
            <form action="{% url 'vtt_login' instance.instance_slug forloop.counter0 %}" method="post">
                {% csrf_token %}
                <button type="submit"><p>{{user.user_name}}</p></button>
            </form>
        {% endfor %}
    </div>
    <hr>
    {% if user|can_access:instance %}
        <form action="{% url 'register_instance_user' instance.instance_slug %}" method="get">
            {% csrf_token %}
            <button type="submit"><p>Register New Player</p></button>
        </form>
    {% endif %}
    {% if user|can_manage:instance %}
        <form action="{% url 'instance_admin_login' instance.instance_slug %}" method="post">
            {% csrf_token %}
            <button type="submit"><p>Return to Setup</p></button>
        </form>
    {% endif %}
</section>
{% endblock %}
