{% extends "_foundry_portal_base.html" %}
{% load static %}

{% block title %}Refractory Login{% endblock %}

{% block content %}
<section class="panel thin-panel" id="login-panel">
    <div class="login-panel">
      <h3>Sign in to your account</h3>
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <label for="{{ field.auto_id }}" class="form-field-label">{{ field.label }}</label>
            <div class="mt-2">
	        	  {{ field }}
	        	</div>
            {% if field.errors %}
	        		<small>{{ field.errors }}</small> 
	        	{% endif %}
        {% endfor %}
        <div>
          <button type="submit"><h2>Sign in</h2></button>
        </div>
      </form>
    </div>
</section>

{% endblock %}

