{% extends "_foundry_portal_base.html" %}
{% load static %}

{% block title %}Refractory{% endblock %}

{% block notifs %}
    {% if messages %}
    <ul class="refractory-messages">
        {% for message in messages %}
        <li{% if message.tags %} class="refractory-message {{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
<!-- Active Worlds Section -->
<section class="panel main-panel" id="active-worlds">
    <h2>Active Worlds</h2>
    <div class="worlds-gallery" id="worlds-gallery">
        {% for instance in instances %}
            {% for world in instance.worlds %}
                <div class="world-card" {% if world.active %}style="background-image: url({{instance.active_background_url}})"{% else %}style="background-image: url({{instance.default_background_url}})"{% endif %}>
                    <form class="hidden-form" id="form-{{instance.instance_slug}}-{{world.id}}"
                        {% if world.active %} 
                            action="{{instance.user_facing_base_url}}"
                            target="_blank"
                            method="get"
                        {% else %}
                            action="{% url 'activate_world' instance.instance_slug world.id %}" 
                            method="post"
                        {% endif %}
                    >
                    {% csrf_token %}
                    </form>
                    {% if world.active %}
                        <button class="fillspace" type="submit" form="form-{{instance.instance_slug}}-{{world.id}}">
                    {% endif %}
                    <h3>{{world.title}}</h3>
                    <p>Hosted on {{instance.display_name}}</p>
                    {% if not world.active %}
                        <button type="submit" name="Activate" form="form-{{instance.instance_slug}}-{{world.id}}"><p>Activate</p></button>
                    {% else %}
                        {% for _ in instance.active_player_range %}
                            <p>😊</p>
                        {% endfor%}
                    {% endif %}
                    {% if world.active %}
                        </button>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</section>

<!-- Instance Status Section -->
<section class="panel sidebar" id="instance-status">
    <h2>Instances</h2>
    <div class="status-key">
        <div class="status-container"><span class="status-indicator active"></span>Active</div>
        <div class="status-container"><span class="status-indicator online"></span>Online</div>
        <div class="status-container"><span class="status-indicator offline"></span>Offline</div>
    </div>
    <div class="instance-list" id="instance-list">
        {% for instance in instances %}
            <div class="instance-card" name="card-{{instance.instance_slug}}">
                {% if instance.is_active %}
                    <button class="fillspace" type="submit" form="form-{{instance.instance_slug}}">
                {% endif %}
                    <h3>{{ instance.display_name }}</h3>
                    <p>{{ instance.is_active }}</p>
                    {{ instance.instance_state }}
                    {% if not instance.is_active %} 
                        <button type="submit" form="form-{{instance.instance_slug}}"><p>Activate</p></button>
                    {% endif %}
                    <form class="hidden-form" id="form-{{instance.instance_slug}}"
                        {% if instance.is_active %} 
                            action="{{instance.user_facing_base_url}}" 
                            target="_blank"
                            method="get"
                        {% else %}
                            action="{% url 'activate_instance' instance.instance_slug %}"
                            method="post"
                        {% endif %}
                    >
                    {% csrf_token %}
                    </form>
                {% if instance.is_active %}
                    </button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
