{% extends '_foundry_portal_base.html' %}

{% block title %}FoundryVTT.com Login{% endblock %}

{% block content %}
<section class="panel thin-panel" id="login-panel">
    <div class="login-panel">
        <h2>FoundryVTT Releases</h2>
        <ul>
            {% for version in object_list %}
                <li>Version {{ version.version_string }}</li>
            {% empty %}
                <li>No releases yet.</li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</section>
{% endblock %}