{% extends '_manage_base.html' %}
{% load i18n %}

{% block title %}Refractory Version Management{% endblock %}

{% block content %}
<section class="panel thin-panel" id="login-panel">
    <div class="login-panel">
        <h2>FoundryVTT Releases</h2>
        {% for version in object_list %}
            <div>
                <p>Version {{ version.version_string }}</p>
                {% if version.download_status == version.DownloadStatus.DOWNLOADED %}
                <p>Ready</p>
                {% elif version.download_status == version.DownloadStatus.DOWNLOADING %}
                <p>Download in progress</p>
                {% elif version.download_status == version.DownloadStatus.NOT_DOWNLOADED %}
                    {% if foundry_user %}
                        <form action="{% url 'version_download' version.version_string %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Download</button>
                        </form>
                    {% else %}
                        <form action="{% url 'foundry_site_login' %}?next={% url 'version_list' %}" method="get">
                            <button type="submit">Download</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        {% empty %}
            <p>{% translate "Couldn't fetch version list. Check your server's connection?" %}</p>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</section>
{% endblock %}